:root {
  --size-avatar: 100px;
  --bg-color-card: #17a2b8;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
* {
  box-sizing: border-box;
}
body {
  border-color: blue;
  border-width: 0.25em;
  border-style: double;
}

a {
  color: inherit;
  text-decoration: none;
}
img {
  width: 100%;
}
.cards-container {
  margin: auto;
  background-color: #f0f8ff;
}
.flex-wrapper {
  display: flex;
  justify-content: space-around;
}
.user-card {
  flex: 0 0 calc(4 * var(--size-avatar));
  padding-top: calc(1.5 * var(--size-avatar));
  background-color: var(--bg-color-card);
  text-align: center;
  border-color: #106674;
  border-width: 0.1em;
  border-style: solid;
}
/* section{
    margin: 10%;
    padding: 50%; */

.user-info {
  background-color: white;
}
.user-avatar {
  width: var(--size-avatar);
  height: var(--size-avatar);
  margin-top: calc(-0.5 * var(--size-avatar));
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.user-name {
  font-size: 26px;
  padding: 4%;
}
.icon-address {
  margin-bottom: 5px;
  width: 21px;
  margin-right: -10px;
}
.user-address {
  padding-left: 10px;
  display: inline-block;
  font-size: 22px;
}

.line {
  border: 1px solid rgba(0, 0, 0, 0.127);
  width: 80%;

  /* border-style: solid;
    border-color: rgba(0, 0, 0, 0.121); */
  /* border-radius: 5px;  */
  /* border-width: 2px 20px; */
}
/* hr{
    width: 30%;
color: rgba(0, 0, 0, 0.127)
} */
/* hr{
    border-style: solid;
    border-color: darkblue;
    border-collapse;
} */
.user-header,
.container-btn {
  text-transform: capitalize;
  /* padding: 15px; */
}

.button_follow,
.button_msg {
  border: 0rem;
  border-radius: 5%;
  color: white;
  display: inline-block;
  line-height: 1.5;
  margin: 5px;
  padding: 3px;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-size: 19px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.button_follow {
  background: #28a745;
}
.button_msg {
  background: var(--bg-color-card);
}

.user-description {
  padding: 20px;
}
.social-list {
  margin: auto;
  width: 30px;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}
footer {
  flex: 0 0 auto;
  background: inherit;
  height: 60px;
}
